.new-post-form {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 10px;
    background: #372D3B;
    z-index: 10;
}

#post-form {
    max-width: 350px;
}

.flex-container {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 960px;
}

.flex-item {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: left;
    -moz-justify-content: left;
    -ms-justify-content: left;
    justify-content: left;
    text-align: center;
}

.flex-item-date {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    -webkit-flex-basis: 60px;
    -moz-flex-basis: 60px;
    -ms-flex-basis: 60px;
    flex-basis: 60px;
    display: none;
}

.flex-item-content {
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 3;
    width: 100%;
    max-height: 600px;
    min-height: 310px;
    border: 2px solid #FFFFDE;
    background: #372D3B;
    color: #FFFFDE;
}

.flex-item-hidden {
    -webit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
}

.flex-item-flipped .flex-item-content {
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 3;
    text-align: center;
}

.flex-item-flipped .flex-item-hidden {
    -webit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
}

.flex-item h4 {
    margin: 10px 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: #FFFFDE;
}

.postImage {
    width: 100%;
    max-height: 500px;
}

.postCaption {
    padding: 10px 25px;
    text-align: left;
}

.card-right,
.card-left {
    position: relative;
    height: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-item a {
    text-align: center;
}

/*600px and above */
@media only screen and (min-width: 760px) {
      /* Pseudo Element timeline line */
    .feed-section {
        position: relative;
        z-index: 1;
        background: #D94362;
        max-width: 760px;
    }
    .feed-section:before,
    .feed-section:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 378px;
        background: #372D3B;
    }
    .feed-section:after {
        left: 382px;
        width: 378px;
        background: #372D3B;
    }
    .flex-item {
        border: none;
    }
    .flex-item h4 {
    margin: 10px 0;
    padding-left: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #372D3B;
    text-align: left;
    }

    .flex-item-flipped h4 {
        padding-right: 45px;
        text-align: right;
    }

    .flex-item a {
        text-align: left;
    }
    
    .flex-item-flipped a {
        text-align: right;
    }
    .flex-item-hidden,
    .flex-item-content {
        width: 50%;
    }

    .flex-item-content {
        border-radius: 10px;
        background: #FFFFDE;
        color: #372D3B;
    }
    .move-up {
        margin-top: -150px;
    }
    .flex-item-flipped .flex-item-content {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-order: 1;
        order: 1;
    }
    .flex-item-flipped .flex-item-hidden {
        -webkit-order: 3;
        -moz-order: 3;
        -ms-order: 3;
        order: 3;
    }
    .flex-item-date {
        display: flex;
        -webkit-flex-basis: 100px;
        -moz-flex-basis: 100px;
        -ms-flex-basis: 100px;
        flex-basis: 100px;
        position: relative;
    }
    .line-left,
    .line-right {
        height: 4px;
        width: 44px;
        background: #D94362;
        position: absolute;
    }
    .line-left {
        bottom: 30%;
    }
    .line-right {
        right: 5px;
        bottom: 30%;
    }
    .postImage {
        width: 80%;
    }
}

/* 960px and up */

@media only screen and (min-width: 960px) {
    .feed-section {
        max-width: 960px;
    }
    .feed-section:before,
    .feed-section:after {
        width: 478px;
    }
    .feed-section:after {
        left: 482px;
        width: 478px;
    }
    .line-left {
        bottom: 25%;
    }
    .line-right {
        right: 0;
        bottom: 25%;
    }
}