/*
purple: #372D3B
pink: #D94362
salmon: #EC7263
yellow: #FEBE7E
cream: #FFEDBC
white: #ffffde
*/

.post-bar {
    background-color: #E7D1CC;
    padding: 5px 10px;
}

#post-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
}

#post-form label,
#post-form input,
#post-form button {
    margin: 5px;
    height: 36px;
    border: 1px solid black;
}

#post-form input {
    flex-grow: 2;
    padding: 5px 10px;
    text-align: left;
}

#post-form label {
    flex-grow: 1;
    padding: 8px 10px 5px 10px;
    text-align: center;
}

#post-form button {
    flex-grow: 2;
    padding: 5px 10px;
    text-align: center;
}

.flex-container {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
}

.flex-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
}

.flex-item-date {
    order: 2;
    flex-basis: 60px;
    display: flex;
}

.flex-item-content {
    order: 3;
    width: 80%;
}

.flex-item-hidden {
    order: 1;
}

.flex-item-flipped .flex-item-content {
    order: 3;
    text-align: center;
}

.flex-item-flipped .flex-item-hidden {
    order: 1;
}

.flex-item h4 {
    margin: 10px 0;
    padding-left: 25px;
    font-size: 20px;
    letter-spacing: 1px;
}

.flex-item.flex-item-flipped h4 {
    text-align: right;
    padding-right: 15px;
}

.postImage {
    border-radius: 10px;
    width: 80%;
    z-index: 10;
    opacity: 1;
    border: 4px solid #FEBE7E;
}

.postCaption {
    border-radius: 10px;
 
}

.card-right,
.card-left {
    position: relative;
}


.card-right .postCaption {
    padding-left: 30px;
    margin-left: 15px;
}

.card-left .postCaption {
    padding-right: 30px;
    margin-left: 67px;
}




/*600px and above */

@media only screen and (min-width: 760px) {

/* Pseudo Element timeline line */

    .feed-section {
        position: relative;
        z-index: 1;
        background: #D94362;
        max-width: 760px;
    }

    .feed-section:before,
    .feed-section:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 378px;
        background: #372D3B;
    }

    .feed-section:after {
        left: 382px;
        width: 378px;
        background: #372D3B;
    }

    .flex-item-hidden,
    .flex-item-content {
        width: 50%;
    }
    .flex-item-content {
        text-align: left;
    }
    .flex-item-flipped .flex-item-content {
        order: 1;
        text-align: right;
    }
    .flex-item-flipped .flex-item-hidden {
        order: 3;
    }
    .flex-item-date {
        flex-basis: 100px;
        position: relative;
    }
    .line-left,
    .line-right {
        height: 4px;
        width: 44px;
        background: #D94362;
        position: absolute;
    }
    .line-left {
        bottom: 30%;
    }
    .line-right {
        right: 5px;
        bottom: 30%;
    }
    .postCaption {
        padding-top: 20px;
        z-index: 5;
        opacity: 0;
        background: rgba(0, 0, 0, 0.9);
    }
    
    .show-caption {
        position: absolute;
        font-size: 50px;
        bottom: 6px;
        left: 35px;
        height: 30px;
        width: 30px;
        transition: color 300ms;
    }

    .show-caption:hover {
        color: #EC7263;
        cursor: pointer;
    }
    
    .card-right .show-caption {
        left: 6px;
    }

    .card-right .postCaption {
        margin-left: 5px;
    }

    .card-left .postCaption {
        margin-left: 90px;
    }
    
    .card-left .show-caption {
        right: 6px;
        left: initial;
    }
}

/* 960px and up */

@media only screen and (min-width: 960px) {
    .feed-section {
        max-width: 960px;
    }
    .feed-section:before,
    .feed-section:after {
        width: 478px;
    }
    .feed-section:after {
        left: 482px;
        width: 478px;
    }
    .line-left {
        bottom: 25%;
    }
    .line-right {
        right: 0;
        bottom: 25%;
    }
}