.post-bar {
    background-color: #E7D1CC;
    padding: 5px 10px;
}

#post-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
}

#post-form label,
#post-form input, 
#post-form button {

    margin: 5px;
    height: 36px;
    border: 1px solid black;
}

#post-form input {
    flex-grow: 2;
    padding: 5px 10px;
    text-align: left;
}

#post-form label {
    flex-grow: 1;
    padding: 8px 10px 5px 10px;
    text-align: center;
}

#post-form button {
    flex-grow: 2;
    padding: 5px 10px;
    text-align: center;
}

.flex-container {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.flex-item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
}

.flex-item-date {
    order: 2;
    text-align: center;
    color: #2A3B4C;
    text-shadow: 2px 2px 5px black;
    background: linear-gradient(
        to right,
        #F6F8F9 46%,
        #2A3B4C 46%,
        #2A3B4C 52%,
        #9EB4BD 52%,
        #F6F8F9 56%
    );
    flex-basis: 60px;
    display: flex;
}

#flex-item-date-0 {
    margin-top: 5px;
}

.flex-item-content {
    order: 3;
    width: 80%;
}

.flex-item-hidden {
    order: 1;
}

.flex-item-flipped .flex-item-content {
    order: 3;
    text-align: center;
}

.flex-item-flipped .flex-item-hidden {
order: 1;
}

.postImage {
    width: 80%;
    /*set max height of 500px while keeping aspect ratio*/
}

/* 640 px and above */
@media only screen and (min-width: 600px) {

    .flex-item-hidden, .flex-item-content {
        width: 50%;
    }

    .flex-item-content {
        text-align: left;
    }

    .flex-item-flipped .flex-item-content {
            order: 1;
            text-align: right;
    }

    .flex-item-flipped .flex-item-hidden {
        order: 3;
    }

    .flex-item-date {
        flex-basis: 100px;
    }

}