/*
purple: #372D3B
pink: #D94362
salmon: #EC7263
yellow: #FEBE7E
cream: #FFEDBC
white: #ffffde
*/

.profile {
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 20px 0;
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    justify-content: space-around; 
    align-items: center;

}

.profile-image {
    display: flex;
    justify-content: center;
    flex-grow: 1;
   
}

.profile-image > img {
    border: 4px solid #FFFFDE;
}

.profile-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

#profile-button {
    width: 40%;
    margin: 10px 0;
}

.username-p {
    font-size: 20px;
}

.edit-profile-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.list-section {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 0;
}

.user-row {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.user-left, .user-right {
    padding: 0 10px;
}

.user-left {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    order: 1;
    
}

.user-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 200px;
    max-width: 50%;
    order: 2;
}

.field-label {
    display: inline-block;
    width: 100px;
}

@media only screen and (max-width: 600px) {
    
    p {
        width: 60%;
        margin: 5px;
    }

    #username-p {
        text-align: center;
        margin-top: 10px;
    }

    .profile-data {
        flex-direction: row;
    }

    .user-left {
        align-items: center;
    }
    .user-right {
        line-height: 1.75em;
    }
}