/* shared css

purple: #372D3B
pink: #D94362
salmon: #EC7263
yellow: #FEBE7E
white: #FFFFDE
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #372D3B;
    color: #ffffde;
    height: 100%;
    line-height: 1.5em;
}

.hidden {
    display: none;
}

main {
    width: 100%;
    margin-top: 130px;
}

h1 {
    text-align: center;
    font-size: 45px;
    /* color: #D94362; */
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 15px 10px;
    font-weight: 600; 
    font-size: 35px;
    /* color: #D94362; */
    letter-spacing: 1px;
    line-height: 40px
}

h3 {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}

p {
    margin: 3px;
}

a {
    text-decoration: none;
    color: #ffffde;
}

.nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 75px;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #372D3B;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    max-width: 960px;
    width: 100%;
}

.nav-link {
    min-width: 250px;
    flex-basis: 100px;
    display: inline-block;
    text-align: center;
}

#feed,
#new-post {
    text-align: right;
}

#people {
    text-align: left;
}

#feed, 
#people,
#new-post,
#logo
 {
    flex-grow: 1;
}

#logout {
    position: absolute;
    top: 10px;
    right: -60px;
}

#people a:hover, 
#new-post:hover, 
#logo a:hover,
#feed a:hover {
    cursor: pointer;
    color: #EC7263;
    transition: color .2s;
}

form {
    width: 100%;
    max-width: 640px;
}

.form-wrapper {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    list-style: none;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 3px;
}

.form-row > label, label {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
    flex: 1;
    min-width: 200px;
}

.form-row > input {
    flex: 2;
    min-width: 250px;
}

.form-row > input, 
.form-row > button {
    padding: 5px;
}


hr {
    width: 60%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0;
    color: #D94362;
    background-color: #D94362;
}

input {
    font-size: 18px;
    background: #FFFFDE;
    color: #D94362;
    border: 2px solid #D94362;
    border-radius: 5px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

#input-file-label,
#input-file-label-f {
    text-align: center;
    background-color: #D94362;
    border: 4px solid #D94362;
    color: #372D3B;
    border-radius: 5px;
    letter-spacing: 1px;
    flex: none;
}

.file-row {
    justify-content: center;
}

#input-file-label:hover,
#input-file-label-f:jover {
    cursor: pointer;
    background-color: #FFFFDE;
    border: 4px solid #FFFFDE;
    color: #D94362;
    transition: background-color .2s;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #D94362;
    background: #FFFFDE;
    color: #D94362;
    transition: background-color .2s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #D94362;
  -webkit-text-fill-color: #D94362;
  -webkit-box-shadow: 0 0 0 2px #D94362;
  transition: background-color .2s;
}

button {
    background-color: #D94362;
    border: 4px solid #D94362;
    color: #372D3B;
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    min-width: 100px;
    min-height: 24px;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFFFDE;
    color: #FFFFDE;
    transition: background-color .2s;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFDE;
    border: 4px solid #FFFFDE;
    color: #D94362;
    transition: background-color .2s;
}


.profile-pic {
    height: 100px;
    border: 4px solid #D94362;
    border-radius: 50%;
}

.profile-pic:hover {
    cursor: pointer;
    border: 4px solid #EC7263;
    transition: border .2s;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 10px;
}

footer p {
    margin: 5px;
}

/* login page styles */

.forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;

}

fieldset {
    border: 2px solid #EC7263;
    border-radius: 5px; 
}

legend {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
    margin-bottom: 50px;
    height: 220px;
}

.signup-form-section {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

/*Getting Smaller Screens less than 1030px */
@media only screen and (max-width: 1030px) {
    #logout {
        top: 12px;
        right: -58px;
        /* position: static; */
    }
}

/*Screens less than 600px*/
@media only screen and (max-width: 600px) {
    main {
        padding-top: 0;
        margin-top: 30px;
    }

    h1 {
        margin: 25px 0;
    }
    
    h3 {
        margin: 10px 0;
    }

    .nav-bar {
        flex-direction: column;
        position: static;
    }

    .nav-link {
        flex-basis: auto;
    }
    
    #logo {
        order: 1;
        min-width: 250px;
    }

    #logout {
        order: 3;
        margin: 10px 0;
        position: relative;
        top: 0;
        right: 0;
    }
    
    #feed, 
    #people,
    #new-post {
        order: 2;
        text-align: center;
        min-width: 250px;
    }    

    hr {
        order: 4;
        margin-top: 20px;
    }
}

